/* ### textblock colors #### */

#block-events-top{
width:253px;
height:90px;
background-image:url(img/block-events-top.png);
background-repeat:no-repeat;
}

#block-events-center{
width:253px;
background-image:url(img/block-events-center.png);
background-repeat:repeat-y;
}

#block-events-bottom{
width:253px;
height:50px;
background-image:url(img/block-events-bottom.png);
background-repeat:no-repeat;
}







#block-green-pink-top{
width:253px;
height:10px;
background-image:url(img/block-green-pink-top.gif);
background-repeat:no-repeat;
}

#block-green-pink-center{
width:253px;
background-image:url(img/block-green-pink-center.gif);
background-repeat:repeat-y;
}

#block-green-pink-bottom{
width:253px;
height:12px;
background-image:url(img/block-green-pink-bottom.gif);
background-repeat:no-repeat;
}

#block-pink-orange-top{
width:253px;
height:10px;
background-image:url(img/block-pink-orange-top.gif);
background-repeat:no-repeat;
}

#block-pink-orange-center{
width:253px;
background-image:url(img/block-pink-orange-center.gif);
background-repeat:repeat-y;
}

#block-pink-orange-bottom{
width:253px;
height:12px;
background-image:url(img/block-pink-orange-bottom.gif);
background-repeat:no-repeat;
}

#block-yellow-green-top{
width:253px;
height:10px;
background-image:url(img/block-yellow-green-top.gif);
background-repeat:no-repeat;
}

#block-yellow-green-center{
width:253px;
background-image:url(img/block-yellow-green-center.gif);
background-repeat:repeat-y;
}

#block-yellow-green-bottom{
width:253px;
height:12px;
background-image:url(img/block-yellow-green-bottom.gif);
background-repeat:no-repeat;
}

#block-blue-white-top{
width:253px;
height:10px;
background-image:url(img/block-blue-white-top.gif);
background-repeat:no-repeat;
}

#block-blue-white-center{
width:253px;
background-image:url(img/block-blue-white-center.gif);
background-repeat:repeat-y;
}

#block-blue-white-bottom{
width:253px;
height:12px;
background-image:url(img/block-blue-white-bottom.gif);
background-repeat:no-repeat;
}




/* WHITE BLOCKS */


#block-white-orange-top{
width:253px;
height:10px;
background-image:url(img/block-white-orange-top.gif);
background-repeat:no-repeat;
}

#block-white-orange-center{
width:253px;
background-image:url(img/block-white-orange-center.gif);
background-repeat:repeat-y;
}

#block-white-orange-bottom{
width:253px;
height:12px;
background-image:url(img/block-white-orange-bottom.gif);
background-repeat:no-repeat;
}

#block-white-green-top{
width:253px;
height:10px;
background-image:url(img/block-white-green-top.gif);
background-repeat:no-repeat;
}

#block-white-green-center{
width:253px;
background-image:url(img/block-white-green-center.gif);
background-repeat:repeat-y;
}

#block-white-green-bottom{
width:253px;
height:12px;
background-image:url(img/block-white-green-bottom.gif);
background-repeat:no-repeat;
}

#block-white-pink-top{
width:253px;
height:10px;
background-image:url(img/block-white-pink-top.gif);
background-repeat:no-repeat;
}

#block-white-pink-center{
width:253px;
background-image:url(img/block-white-pink-center.gif);
background-repeat:repeat-y;
}

#block-white-pink-bottom{
width:253px;
height:12px;
background-image:url(img/block-white-pink-bottom.gif);
background-repeat:no-repeat;
}


#block-white-blue-top{
width:253px;
height:10px;
background-image:url(img/block-white-blue-top.gif);
background-repeat:no-repeat;
}

#block-white-blue-center{
width:253px;
background-image:url(img/block-white-blue-center.gif);
background-repeat:repeat-y;
}

#block-white-blue-bottom{
width:253px;
height:12px;
background-image:url(img/block-white-blue-bottom.gif);
background-repeat:no-repeat;
}


